{% extends "modeltermpapers/base.html" %}
{% load static %} 

    {% block meta %}
    <title>About ModelTermPapers.com - Sister Company of Paper Masters</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Model Term Papers - a sister company of Paper Masters - providing custom term papers and essays.">
    {% endblock meta %}  
        
    {% block hero %}
    <section class="hero price-cover is-small">
      {% endblock hero %}

      {% block herobody %}
        <div class="hero-body">
        <div class="container mb-6"> 
            <div class="columns is-centered">
              <div class="column glass-box2 is-6 has-text-centered"> 
              <div class="header-text px-2">
                <h2 class="has-text-white p-4 is-size-3-desktop is-size-4-mobile is-size-3-tablet has-text-weight-bold">Need Custom Term Paper Writing Services?</h2>
                <p class="has-text-grey-lighter">Take the stress out of your project! Allow our writers to provide a custom term paper for you today!</p>
                <div class="buttons is-centered p-5"><a class="button is-info" href="#">Order Paper Now!</a></div> 
              </div>
              </div> 
              </div> 
          </div> 
          </div>     
    </section> 
    {% endblock herobody %} 
        
    {% block content %}
                <div class="mb-5 conStyle"> 
                  <p class="has-text-primary has-text-weight-bold is-size-5-desktop is-size-6-mobile is-size-6-tablet has-text-centered">ModelTermPapers.com</p>
                  <p class="has-text-dark">MTP concentrates on providing academic writing services to college students across the globe. We have been the primary resource for term papers since we started back in November of 2001. Over 20 years of experience from writers that know what professors are looking for in a project.</p>
                  <div class="px-5 mb-4 mt-2 has-text-dark">
                    <li>Owned and operated by the same company for over 20 years, MTP provides the stability of knowing that if you need to get in touch with someone to discuss your project you can call us 24 hours a day.</li>
                    <li>Based in the United States, we operate out of Northeastern Pennsylvania and are proud of our family-based business.</li>
                    <li>Quality that is guaranteed in every project. We are proud of the excellent writers we have and our reputation throughout the world. We wouldn't have lasted 20 years without being the best and the most honest company in the academic writing business.</li>
                    <li>Confidentiality! We stress the private and safe harbor of a company that knows your education is import to you. Our services are completely confidential, and your information is kept private and secure.</li>
                    <li>We make the process simple and straight-forward. No false promises and you get exactly what you order, every time!</li> 
                  </div> 
                </div>  
                <div class="has-text-dark has-text-weight-bold mb-5 conStyle">  
                  <p>Call today to learn more - 570-955-1438</p> 
                  <p>Text us with any questions - 570-301-7456</p>
                  </div>
              </div>

            </div> 
      {% endblock content %} 
