{% extends "modeltermpapers/base.html" %}
{% load static %} 

    {% block meta %}
    <title>About ModelTermPapers.com - Sister Company of Paper Masters</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Model Term Papers - A sister company of Paper Masters">
    {% endblock meta %}  
        
    {% block hero %}
    <section class="hero price-cover is-small">
      {% endblock hero %}
 
        
    {% block content %}
                <div class="mb-5 conStyle"> 
                  <h2 class="mb-5 is-size-3 is-size-3-mobile has-text-weight-bold has-text-centered has-text-dark">About ModelTermPapers</h2>
                  <p class="has-text-dark">MTP concentrates on providing academic writing services to college students across the globe. We have been the primary resource for term papers since we started back in November of 2001. Over 20 years of experience from writers that know what professors are looking for in a project.</p>
                  <div class="px-5 mb-4 mt-2 has-text-dark">
                    <li class="pb-2">Owned and operated by the same company for over 20 years, MTP provides the stability of knowing that if you need to get in touch with someone to discuss your project you can call us 24 hours a day.</li>
                    <li class="pb-2">Based in the United States, we operate out of Northeastern Pennsylvania.</li>
                    <li class="pb-2">Quality that is guaranteed in every project. We are proud of the excellent writers we have and our reputation throughout the world. We wouldn't have lasted 20 years without being the best and the most honest company in the academic writing business.</li>
                    <li class="pb-2">Confidentiality! We stress the private and safe harbor of a company that knows your education is import to you. Our services are completely confidential, and your information is kept private and secure.</li>
                    <li>We make the process simple and straight-forward. No false promises and you get exactly what you order, every time!</li> 
                  </div> 
                </div>  
                <div class="has-text-dark has-text-weight-bold mb-5 conStyle">  
                  <p>Call today to learn more - 570-955-1438</p> 
                  <p>Text us with any questions - 570-301-7456</p>
                  </div>
              </div>

            </div> 
      {% endblock content %} 
