{% extends "modeltermpapers/base.html" %}
{% load static %}  
    {% block meta %}
    <title>Guarantees - All Term Papers from ModelTermPapers are Custom Written</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Term papers that are guaranteed original, plagiarism free and written just for you!">
    {% endblock meta %} 

    {% block hero %}
    <section class="hero price-cover is-small">
      {% endblock hero %}
 
        
          {% block content %}
                <h2 class="mb-5 is-size-3 is-size-3-mobile has-text-weight-bold has-text-centered has-text-dark">Our Guarantees</h2>
                <div class="mb-5 has-text-dark conStyle"> 
                  <p class="mb-4 has-text-weight-bold">Professors have tried to scare students with stories about students who bought papers on the internet only to be caught with a plagiarized paper. Guess what? Those stories are true!</p>
                  <p class="mb-4">It happens all the time when students buy papers from other term paper companies. Professor's use TurnItIn.com and SafeAssign to detect prewritten papers and it works wonderfully for them! Other companies copy and paste from the internet, recycle their papers over and over, and sell you something that has been sold hundreds and even thousands of times before. </p>
                  <p class="mb-4">However, you are guaranteed that by using ModelTermPapers.com, all papers are custom written just for you and have never been sold before or will never appear in a database. We also guarantee:</p>
                  <div class="px-5 mb-4 mt-2 has-text-dark">
                    <li>No project has any plagiarism in it</li>
                    <li>All projects have citation and include a free reference page</li>
                    <li>Your personal information is never given out and is safe within our company - We have 23 years of perfect service to prove it!</li>
                    <li>Every project is custom written at the time you order it</li>
                    <li>Every project is delivered on time (11:59pm PST on the date you order it for)</li>
                  </div> 
                </div>   
                <div class="has-text-dark mb-5 conStyle"> 
                  <p class="mb-4"><b>Don't take a chance on essays or term papers from database companies!</b> Trust only American companies that sell original work and stand behind their work. Ask yourself the following questions when thinking of ordering a term paper from an Internet based company:</p>
                  <div class="px-5 mb-4 mt-2 has-text-dark">
                    <li>How can you tell who is good?</li>
                    <li>Do they have a telephone number that someone actually answers?</li>
                    <li>Are the customer service representatives English speaking?</li>
                    <li>Are they verified by essayfraud.org?</li>
                    <li>Will they let you place an order just to see if they have a writer that can write your project?</li>
                    <li>Will they agree to signing a written guarantee that the work will not be plagiarized or resold?</li>
                  </div> 
                </div>
              </div>

            </div>

            {% endblock content %}  