<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Term Paper Services - Custom Written</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Term papers that are guaranteed original, plagiarism free and written just for you!">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/bulma/bulma.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="favicon.ico">
    <script src="js/main.js"></script>
  </head>
  <body> 
        
    <section class="hero price-cover is-small">
      <div class="is-relative">
        <nav class="navbar px-3 py-4" style="background-color: transparent;">
          <div class="navbar-brand">
            <a class="navbar-item is-hidden-touch" href="#">
              <img class="image is-fullheight" src="images/modeltermpaper-logo.svg" alt="ModelTermPapers Logo" width="180px" height="200px">
            </a>
            <a class="navbar-item is-hidden-desktop" href="#">
              <img class="image" src="images/modeltermpaper-logo.svg" alt="ModelTermPapers Logo" width="180px" height="200px">
            </a>
            <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div class="navbar-menu">
            <div class="navbar-end"><a class="navbar-item" href="#">About</a><a class="navbar-item" href="#">Services</a><a class="navbar-item" href="#">Guarantees</a><a class="navbar-item" href="#">Term Papers</a><a class="navbar-item" href="#">Prices</a></div>
            <div class="navbar-item"><a class="button is-danger" href="#">Order</a></div>
          </div>
        </div>
        </nav> 
        <div class="hero-body">
        <div class="container mb-6"> 
            <div class="columns is-centered">
              <div class="column glass-box2 is-6 has-text-centered"> 
              <div class="header-text px-2">
                <h2 class="has-text-white p-4 is-size-3-desktop is-size-4-mobile is-size-3-tablet has-text-weight-bold">Need Custom Term Paper Writing Services?</h2>
                <p class="has-text-grey-lighter">Take the stress out of your project! Allow our writers to provide a custom term paper for you today!</p>
                <div class="buttons is-centered p-5"><a class="button is-info" href="#">Order Paper Now!</a></div> 
              </div>
              </div> 
              </div> 
          </div> 
          </div>    
  </div>
  </div>
    </div>

    <div class="hero-foot">
    <nav class="navbar breadcrumb py-3 px-3" style="background-color: #794cac;" aria-label="breadcrumbs">
      <ul>
        <li><a href="#">Bulma</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Components</a></li>
        <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
      </ul> 
    </nav>
    </div>
    </section> 
        
      <section class="section" style="background-color: #f18ee2;">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column is-8">
              <div class="box has-background-light p-6">
                <h2 class="mb-5 is-size-3 is-size-3-mobile has-text-weight-bold has-text-centered has-text-dark">Our Services</h2>
                <div class="mb-5 has-text-dark conStyle"> 
                  <p class="mb-4">ModelTermPapers.com will custom write any project you have. Our writers focus on college level research and writing, providing original and plagiarism free papers on any topic. Just a few of the areas of writing and research we do for college students includes the following:</p> 
                  <div class="px-5 mb-4 mt-2 has-text-info">
                    <li>Term Papers</li>
                    <li>Research Papers</li> 
                    <li>Essays</li>
                    <li>Book Reviews</li>
                    <li>Discussion Posts</li>
                    <li>Case Studies</li>
                    <li>And More… Just as us and we can probably do it!</li>
                  </div> 
                </div>
                <div class="mb-5 has-text-dark conStyle">   
                  <p class="mb-4 has-text-dark">Every project includes a carefully researched and thoroughly written document that follows exactly what you tell us in our order form. You will also receive:</p> 
                   <div class="px-5 mb-4 mt-2 has-text-info">
                    <li>Complete project in an editable Microsoft Word.docx</li>
                    <li>Free reference page</li>
                    <li>Guaranteed plagiarism free and passes any plagiarism detection software</li>
                    <li>24/7 live customer support</li>
                    <li>The reassurance of a verified US owned and US based company</li>
                    <li>Private and secure ordering and order processing</li> 
                    </div> 
                    <p class="mb-4 has-text-dark">By taking only 5 minutes to fill out the order form, you receive expert help and the burden of writing your research project lifted.</p> 
                    <p class="mb-4 has-text-primary has-text-weight-bold">Be smart and let our writers help you get the grades you need to succeed!</p> 
                  </div> 
              </div>

            </div>
            <div class="column is-one-third"> 
              <div class="box has-background-light p-3">
                <h2 class="is-size-3-desktop is-size-4-mobile is-size-5-tablet has-text-weight-bold has-text-dark has-text-centered">ModelTermPapers</h2>
                <div class="has-text-dark p-4 mb-5">
                  <p class="mb-5">Custom Writing Services for Freshman and Sophomore Level College Students</p>
      
                  <h3 class="is-size-5-desktop has-text-weight-bold has-text-primary is-size-6-tablet mb-5">We Stand Behind Our Projects!</h3>
                   <div class="px-5 mb-4 mt-2">
                    <li>Plagiarism Free!</li>
                    <li>Will Pass TurnItin.com!</li>
                    <li>Your project is never resold!</li>
                    <li>Never added to a database!</li>
                    <li>Custom written just for you!</li>
                    <li>Delivered on time!</li>
                    <li>Call us today to learn more!</li>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
        
       
      <footer class="section has-background-info">
        <div class="container pb-5 has-text-centered">
          <a class="mx-auto mb-4 is-inline-block" href="#">
            <img class="image" src="images/modeltermpaper-logo.svg" alt="ModelTermPapers.com" width="250px" height="250px">
          </a>
        </div>
        <div class="pt-5" style="border-top: 1px solid #dee2e6;"></div>
        <div class="container">
          <p class="has-text-centered has-text-white">All Rights Reserved © ModelTermPapers.com - E World Publishing</p>
        </div>
      </footer>
  </body>
</html>
