{% extends "modeltermpapers/base.html" %}
{% load static %}  
    {% block meta %}
    <title>Term Paper Services - Custom Written</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Term papers that are guaranteed original, plagiarism free and written just for you!">
    {% endblock meta %}    
        
    {% block hero %}
    <section class="hero price-cover is-small">
      {% endblock hero %}
      
        {% block herobody %}
        <div class="hero-body">
        <div class="container mb-6"> 
            <div class="columns is-centered">
              <div class="column glass-box2 is-6 has-text-centered"> 
              <div class="header-text px-2">
                <h2 class="has-text-white p-4 is-size-3-desktop is-size-4-mobile is-size-3-tablet has-text-weight-bold">Need Custom Term Paper Writing Services?</h2>
                <p class="has-text-grey-lighter">Take the stress out of your project! Allow our writers to provide a custom term paper for you today!</p>
                <div class="buttons is-centered p-5"><a class="button is-info" href="#">Order Paper Now!</a></div> 
              </div>
              </div> 
              </div> 
          </div> 
          </div>     
    {% endblock herobody %} 
         
                {% block content %}
                <h2 class="mb-5 is-size-3 is-size-3-mobile has-text-weight-bold has-text-centered has-text-dark">Our Services</h2>
                <div class="mb-5 has-text-dark conStyle"> 
                  <p class="mb-4">ModelTermPapers.com will custom write any project you have. Our writers focus on college level research and writing, providing original and plagiarism free papers on any topic. Just a few of the areas of writing and research we do for college students includes the following:</p> 
                  <div class="px-5 mb-4 mt-2">
                    <li>Term Papers</li>
                    <li>Research Papers</li> 
                    <li>Essays</li>
                    <li>Book Reviews</li>
                    <li>Discussion Posts</li>
                    <li>Case Studies</li>
                    <li>And More… Just as us and we can probably do it!</li>
                  </div> 
                </div>
                <div class="mb-5 has-text-dark conStyle">   
                  <p class="mb-4 has-text-dark">Every project includes a carefully researched and thoroughly written document that follows exactly what you tell us in our order form. You will also receive:</p> 
                   <div class="px-5 mb-4 mt-2">
                    <li>Complete project in an editable Microsoft Word.docx</li>
                    <li>Free reference page</li>
                    <li>Guaranteed plagiarism free and passes any plagiarism detection software</li>
                    <li>24/7 live customer support</li>
                    <li>The reassurance of a verified US owned and US based company</li>
                    <li>Private and secure ordering and order processing</li> 
                    </div> 
                    <p class="mb-4 has-text-dark">By taking only 5 minutes to fill out the order form, you receive expert help and the burden of writing your research project lifted.</p> 
                    <p class="mb-4 has-text-primary has-text-weight-bold">Be smart and let our writers help you get the grades you need to succeed!</p> 
                  </div> 
              </div> 
            </div>
            {% endblock content %}  
